@import "normalize.scss";
@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-Semibold.woff2') format('woff2'), url('../font/OpenSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans.woff2') format('woff2'), url('../font/OpenSans.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-Extrabold.woff2') format('woff2'), url('../font/OpenSans-Extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-Bold.woff2') format('woff2'), url('../font/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: 'Open Sans';
    font-style: normal;
    box-sizing: border-box;
}

.apartments {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    &__title {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        margin-right: 77px;
        @media (max-width: 1024px) {
            margin-bottom: 25px;
        }
    }

    &__search {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        width: 50%;
        height: calc(100vh - 60px);
        padding: 34px 30px 0;
        overflow-y: scroll;
        @media (max-width: 1024px) {
            flex-flow: column;
        }
    }

    &__result {
        width: 50%;
        height: calc(100vh - 60px);
        margin-left: auto;
        -webkit-box-shadow: inset 15px 0 70px -45px rgba(0,0,0,1);
        -moz-box-shadow: inset 15px 0 70px -45px rgba(0,0,0,1);
        box-shadow: inset 15px 0 70px -45px rgba(0,0,0,1);

        &-tags {
            display: inline-block;
            line-height: 34px;
        }

        &-search {
            display: none;
        }
    }

    &__list {
        display: flex;
        height: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        font-size: 0;
        padding: 30px;
        justify-content: space-between;
        -webkit-box-shadow: inset 0 15px 70px -45px rgba(0,0,0,1);
        -moz-box-shadow: inset 0 15px 70px -45px rgba(0,0,0,1);
        box-shadow: inset 0 15px 70px -45px rgba(0,0,0,1);
        overflow-y: scroll;
        @media (max-width: 768px) {
            padding: 20px;
        }
    }

    &__item {
        position: relative;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: calc( 50% - 15px);
        height: 325px;
        margin-bottom: 30px;
        border-radius: 10px;
        overflow: hidden;
        @media (max-width: 1280px) {
            height: 200px;
        }
        @media (max-width: 1024px) {
            height: 170px;
        }
        @media (max-width: 768px) {
            height: 150px;
            width: calc( 50% - 10px);
            margin-bottom: 20px;
        }
    }

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        object-fit: cover;
        z-index: 9;
    }

    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        -webkit-box-shadow: inset 0 -124px 80px -80px rgba(0, 0, 0, 1);
        -moz-box-shadow: inset 0 -124px 80px -80px rgba(0, 0, 0, 1);
        box-shadow: inset 0 -124px 80px -80px rgba(0, 0, 0, 1);
        z-index: 19;
    }

    &__details {
        width: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        color: #fff;
        padding: 15px;
        position: relative;
        align-self: flex-end;
        z-index: 29;
    }

    &__name {
        position: relative;
        top: 4px;
        font-size: 16px;
        font-weight: 600;
        margin-right: 15px;
        text-align: left;
        align-self: flex-end;
        @media (max-width: 1024px) {
            font-size: 12px;
        }
    }

    &__price {
        position: relative;
        top: 5px;
        font-weight: normal;
        font-size: 24px;
        align-self: flex-end;
        margin-left: auto;

        &:before {
            position: relative;
            top: -6px;
            content: "€";
            font-size: 14px;
            margin-right: 3px;
        }
        @media (max-width: 1024px) {
            font-size: 20px;
        }
    }

    &__counter {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        padding: 0 30px;
        margin-bottom: 18px;

        &-value {
            color: #28373e;
            font-size: 13px;
            font-weight: 600;
            padding-top: 10px;
            margin-left: auto;
            white-space: nowrap;
        }
    }

    &__map {
        height: 100%;
    }
}

.filter {
    width: 734px;
    margin-left: auto;

    &__list {
        border-bottom: 1px solid #eff3f5;
        margin-bottom: 27px;

        &:last-child {
            margin-bottom: 0;
            border: 0;
        }
    }

    &__icon {
        width: 18px;
        height: 18px;
        border-radius: 9px;
        background: url('../img/icon-plus.png') no-repeat center, #57778e;
        margin-right: 10px;

        &_expanded {
            background: url('../img/icon-minus.png') no-repeat center, #57778e;
        }
    }

    &__header {
        position: relative;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-basis: 100%;
        width: 100%;
        margin-bottom: 25px;
        z-index: 9;
    }

    &__title {
        color: #67808d;
        font-size: 13px;
        font-weight: 600;
        height: 18px;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover {
            border-bottom: 1px dotted #67808d;
        }
    }

    &__group {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: 33.33333333%;
        font-size: 0;
        margin-bottom: 25px;

        &_hidden {
            display: none;
        }
    }

    &__checkbox {
        position: absolute;
        opacity: 0;

        &[type="checkbox"]:not(checked) + .filter__checkbox-handler {
            position: absolute;
            content: '';
            top: -2px;
            left: 0;
            width: 20px;
            height: 20px;
            border: 1px solid #cdd1d4;
            border-radius: 3px;
            box-sizing: border-box;
            background: none;
        }

        &[type="checkbox"]:checked + .filter__checkbox-handler {
            background: url('../img/icon-ok.png') no-repeat center, #57778e;
            border: 0;
        }


        & .filter__label {
            background-color: red;
        }
    }

    &__label {
        position: relative;
        display: block;
        color: #28373e;
        font-size: 13px;
        padding-left: 36px;
        padding-right: 10px;
        line-height: 18px;
    }
    @media (max-width: 1024px) {
        width: 100%;
    }
}

.header {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 100%;
    height: 60px;
    padding: 0 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);

    &__logo {
        display: block;
    }

    &__button {
        display: block;
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        line-height: 36px;
        text-decoration: none;
        margin-left: auto;
        padding: 0 27px;
        background-color: #f3781e;
        border-radius: 18px;
    }
}

.ammenties {
    &__title {
        color: #67808d;
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    &__input {
        position: relative;
        display: inline-block;
        width: 100%;
        font-size: 13px;
        line-height: 34px;
        margin-right: 10px;
        border: 1px solid rgb(225, 230, 232);
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 1px 17.64px 3.36px rgba(0, 0, 0, 0.07);
        padding-left: 45px;
        margin-bottom: 23px;

        &-selected {
            float: left;

            &-tag {
                position: relative;
                color: #28373e;
                font-size: 13px;
                line-height: 26px;
                padding: 0 25px 0 10px;
                margin-left: 5px;
                border: 1px solid rgb(225, 230, 232);
                border-radius: 4px;
                background-color: rgb(255, 255, 255);
                box-shadow: 0 1px 17.64px 3.36px rgba(0, 0, 0, 0.07);

                &:first-child {
                    margin-left: 0;
                }

                &:before {
                    position: absolute;
                    content: '';
                    width: 10px;
                    height: 10px;
                    top: 50%;
                    right: 0;
                    margin-top: -5px;
                    margin-right: 9px;
                    background: url('../img/icon-close.png') no-repeat center;
                }
            }
        }

        &-suggestions {
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            background-color: #fff;
            margin-top: 5px;
            border: 1px solid rgb(225, 230, 232);
            border-radius: 4px;
            box-shadow: 0 1px 17.64px 3.36px rgba(0, 0, 0, 0.07);
            z-index: 90;
        }

        &-search {
            float: left;
            width: 100%;

            &-input {
                display: inline-block;
                max-width: 100%;

                & input {
                    max-width: 100%;
                    border: 0;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -8px;
            margin-left: 15px;
            width: 17px;
            height: 17px;
            background: url('../img/icon-search.png') center;
        }

        &[contenteditable=true]:empty:after {
            content: attr(placeholder);
            display: block;
            line-height: 34px;
            color: #86888a;
            font-size: 13px;
        }

        &:focus {
            outline: none;
        }
    }
}

.ReactTabs {
    height: 100%;

    &__TabList {
        margin-top: 0;
        margin-bottom: 20px;
    }

    &__Tab {
        display: inline-block;
        width: 50%;
        line-height: 47px;
        color: #57778e;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        background-color: rgb(247, 249, 250);
        box-shadow: inset 0 5px 29.2px -0.2px rgba(70, 72, 74, 0.12);

        &--selected {
            background-color: transparent;
            box-shadow: none;
        }
    }

    &__TabPanel {
        height: calc(100% - 113px);
    }

    &__TabList {
        padding-left: 0;
    }
}
